[{sasl, [
		{sasl_error_logger, {file, "/Users/jstimpson/dev/erlang/gen_q/.gen_q/log/sasl.log"}}
	]},
 {kernel, [
        {error_logger, {file, "/Users/jstimpson/dev/erlang/gen_q/.gen_q/log/error.log"}}
    ]},
 {lager, [
        {handlers, [
            {lager_console_backend,
                [debug,
                    {lager_default_formatter, [time,
                        " [", severity, "] ", component, " ", pid, " ==> ", message, "\n"]}]},
            {{lager_file_backend, "error_log"}, [{file, "/Users/jstimpson/dev/erlang/gen_q/.gen_q/log/error.log"}, {level, error}]},
            {{lager_file_backend, "console_log"}, [{file, "/Users/jstimpson/dev/erlang/gen_q/.gen_q/log/console.log"}, {level, info}]}
        ]},
        {crash_log, "/Users/jstimpson/dev/erlang/gen_q/.gen_q/log/crash.log"},
        {error_logger_hwm, 200}
    ]},
 {gen_q, [
        {pid_file, "/Users/jstimpson/dev/erlang/gen_q/.gen_q/run/gen_q.pid"}
    ]
 }
].
