{erl_opts, [debug_info, 
            {parse_transform, pmod_pt}, 
            {parse_transform, lager_transform}, 
            warnings_as_errors,
            {platform_define, "^R1[4,5]", 'crypto_use_sha_mac'},
            {platform_define, "^R16B", 'crypto_use_hash'},
            {platform_define, "^17", 'crypto_use_hash'}
        ]}.

{deps, [{pmod_transform, ".*", {git, "git@github.com:Phonebooth/pmod_transform.git", {branch, "master"}}}, 
        {lager, ".*", {git, "git@github.com:Phonebooth/lager.git", {branch, "master"}}}
       ]}.

{lib_dirs, ["./deps", "."]}.

{sub_dirs, []}.

{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
