{erl_opts, [debug_info
        ]}.

{plugins, [pc]}.

{deps, []}.

{pre_hooks, [{"(linux|darwin)", compile, "./build/c.sh c_src/c.o"}
            ]}.

{provider_hooks,
 [
  {post,
   [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.

{port_env, [{"CFLAGS", "$CFLAGS -m64 -fPIC -DKXVER=3 -std=c99"}, % NOTE: If using q version >= 3, you must add -DKXVER=3 to your CFLAGS
             {"darwin", "LDFLAGS", "$LDFLAGS c_src/c.o -L/opt/local/lib/gcc48 -lgcc_s.1 -lpthread"},
             {"linux", "LDFLAGS", "$LDFLAGS c_src/c.o -lpthread"}]}.

{port_specs, [{"priv/gen_q_drv.so",
               ["c_src/*.c"]}]}.
