{erl_opts, [debug_info, 
            warnings_as_errors
        ]}.

{deps, []}.

{lib_dirs, ["./deps", "."]}.

{port_envs, [{"CFLAGS", "$CFLAGS -m64 -fPIC -DKXVER=3"}, % NOTE: If using q version >= 3, you must add -DKXVER=3 to your CFLAGS
             {"darwin", "LDFLAGS", "$LDFLAGS c_src/c.o -L/opt/local/lib/gcc48 -lgcc_s.1 -lpthread"},
             {"linux", "LDFLAGS", "$LDFLAGS c_src/c.o -lpthread"}]}.

{port_specs, [{"priv/gen_q_drv.so",
               ["c_src/*.o"]}]}.

{pre_hooks, [{compile, "build/c.sh c_src/c.o"},
             {clean, "rm -f c_src/c.o"}]}.
